
/* Import fonts from fonts file */
@import url(./fonts.css);


html, body {
    background-color: #f1f2f3;
    font-family: Open Sans;
    color: white;
    scroll-behavior: smooth;
}

.container-fluid {
  background-size: cover;
}

.div {
  display: block;
}

/* nav bar */
.header_area .main-menu .navbar .navbar-brand {
    padding: 1rem -1rem;

}

.navbar {
  background-color: #00225c;
}


.navbar-nav .nav-item .nav-link {
    color: white;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #ff6752;
}

 .btn {
    padding: 1.7rem 1rem 0.5rem 1 rem;
}


.btn-orange {
    color: white;
    background-color: #FE6845;
    border-color: transparent;
    margin-left: 10px;


}

.btn-orange:hover {
    color: #ff6752;
    background-color: white;
    border-color: transparent;
}
/* end nav */

/* jumbotron */
.jumbotron {
    padding: 100px;
    font-family: Comfortaa;
    background-size: cover;
    }

h {
  font-family: Comfortaa;
}

span1 {
  font-family: Comfortaa;
  text-shadow: 1px 1px 3px white;
  letter-spacing: -10px
}

span2 {
  visibility: hidden;
  letter-spacing: -30px;
}

span3 {
  font-family: Comfortaa;
  text-shadow: 1px 1px 3px white;
  letter-spacing: -8px
}

.line-two {
  font-size: 35px;
}




.img1 {
  height: 350px;
  width: 450px;
  border-radius: 45%;
  max-width: 100%;
  float: right;
  position: relative;
  top: -350px;
  right: 40px;
}

.ellipse {
  background-color: #ffe530;
  height: 400px;
  width: 500px;
  position: absolute;
  border-radius: 100%;
  z-index: 0;
  right: 150px;
  top: 150px;
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .img1, .ellipse {
    display: none;
  }
}


/* end jumbotron */

/* services cards */
h2{
    color: #FF6752;
    padding: 20px;
    margin-top: -20px;

  }

p0 {
  color: black;
  padding: 20px;
  margin-bottom: -20px;
  text-align:left;
  display: inline-block;
}



p1 {
    color:white;
    padding: 20px
}


/* grid */

li {
  margin-top: -10px;
  list-style: none;
  color: black;
  outline: none;
  outline:none !important;
}
.links {
  margin-bottom: 20px;
  margin-left: 20px;
  outline:none !important;
}
.links p{
  text-align: center;
  outline:none !important;
  padding-right: 35px;
}


.links img {
  border-radius: 40px;
  cursor: pointer;
  outline:none !important;
}


@media screen and (min-width: 480px) and (max-width: 1024px) {
  .links{
    margin-left: 30px;
    outline:none !important;
  }
}

 /* expanding grid */
 ul {
	list-style: none;
  outline:none !important;

}

.expanding-grid .links > li a {
  outline:none !important;

}
.expanding-grid .links > li a.active:after {
  outline:none !important;
}

.second-row .expanding-grid:after{
  margin-top: 400px;
}

.containerTab {
  padding: 20px;
  color: white;
  background-color: grey;
}

.containerTab p {
  width: 100%;
}

.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}



/* end services */

/* testimonial cards */
.container {
  padding: 50px;
}

h4 {
  text-align: center;
  color: white;
  padding-bottom: 10px;
}
.testimonial-img {
  width:70px;
  border-radius:700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.slide {
  margin-left: 20px;  
  margin-right: 20px;
  
}

.cl {
  padding:10px;
  border-radius: 20px;
  margin-top: 10px;
}

.cl-blue {
  background: #4487ff;
  outline: none;
  box-shadow: 0 0 0 3px grey;
  padding: 20px 0;

}

.cl-orange {
  background: #ffa046;
  outline: none;
  box-shadow: 0 0 0 3px grey;
  padding: 20px 0;

}

.cl-green {
  background: #9ECB45;
  outline: none;
  box-shadow: 0 0 0 3px grey;
  padding: 20px 0;

}

.slick-active {
  padding: 20px 0;
  outline: none;
}

.slick-center {
  transform: scale(1.08)
}

.slick-slide1:not(.slick-active) {
  margin: 20px 0;
}

.child {
  width:100%;
}

.slide:not(.slick-active) {
  cursor: pointer;
  outline: none;
}

/* end testimonial */

/* trio cards */
.trio-area {
    padding: 50px 0;
}
.card {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
    border: none;
  }

.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.first {
    background-color: #4487FF;
    height: 500px;
}

.first p, .second p, .third p{
  color:white;

}

.second {
    background-color: #9ECB45;
    height: 500px;
}



.third {
    background-color: #FFA046;
    height: 500px;

}

.card-text {
    text-align: center;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
}


.trio-title {
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 1px 2px black;
  margin-top: -20px;
}

/* end trio */

/* contact card */
.contact{
    display: block;
    background-image: url('../images/contact-bg\ \(1\).jpg');
    background-size:cover;
    background-position: center;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}


.card-title {
    color: #ffe530;
    margin-top: 20px;
}

.card-text1 {
    color: white;
}

.btn-light {
    padding-left: 30px;
    padding-right: 30px;
    color: #fe6845;
    border-radius: 40px;
    margin-bottom: 30px;
}

.btn-light:hover {
  background-color: #ff6752;
  color: white;
}
/* end contact */

/* footer */
footer{
    background-color: #FF6752;
    margin-bottom: -70px;
}

footer ul li{
   padding:5px 0px;
}

.about span , .resources span , .social span{
  color: #FFE530;
  font-weight: 800;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}

.about li p , .resources li p , .social li p{
   color:#FFF;
   letter-spacing: 2px;
   text-decoration:none;
   font-size:15px;
}

.social li{
   float:left;
}

.about , .resources , .social {
   list-style: none;
}

.fa{
   color:#9c9c9c;
   margin-right: 15px;
   font-size:14px;
}

/* end footer */
